.ctl-goals-intro {
    font-size: 16px;
}
.ctl-text-citation {
    font-size: 16px;
    color: #9bd72a;
    margin-left: 4px;
}

.ctl-goals-container {
    height: 400px;
    width: 679px;
}
.ctl-goals-info {
    margin: 10px;
    margin-top: 2px;
}

.ctl-goals-master {
    color: #f25022;
}