.ctl-links-container{
    height: 370px;
    width: 679px;
}
.ctl-link-external {
    display: inline-block;
    width: 200px;
    margin-left: 13px;
    vertical-align: top;
}

.ctl-link-info {
    margin-top: 10px;
    text-align: center;
}
.ctl-link-info>span {
  font-size: 15px;
  color: dodgerblue;
}

.ctl-link-howto{
    margin-top: 20px;
    text-align: center;
}

.ctl-link-howto>span{
    font-size: 15px;
    color:#ffb902;
}