<link rel="stylesheet" type="text/css" href="css/goals.css">
<link rel="stylesheet" type="text/css" href="css/achievements.css">

<div class="ctl-container ctl-achievements-container">
    <div class="clt-page-title">
        <img src="/img/menu/awards-selected.png" />
        <p class="lead">Réalisations</p>
    </div>
    <div>
        <span class="ctl-goals-intro">Depuis plus de 25 années, le club Taekwondo Laval est heureux de transmettre son savoir à ses élèves et c'est avec </span> <span class="ctl-text-citation">fierté </span><span class="ctl-goals-intro">que nous avons été témoin de leur évolution.</span>
    </div>
    <div class="ctl-goals-section">
        <div class="ctl-goals-type">
            <span class="ctl-goals-title">Sommaire des réalisations depuis 1990</span>
            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>6 Maîtres (5e Dan et plus)</span>
            </div>
            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>113 Ceintures noires formées par le club</span>
            </div>
            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>50 Arbitres provinciaux</span>
            </div>
            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>5 Arbitre nationaux</span>
            </div>
            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>17 Champions canadiens</span>
            </div>
        </div>
        <div class="ctl-goals-type">
            <span class="ctl-goals-title">Championnats et compétitions</span>
            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>Une 18e place au championnat du monde junior 1998 à Istambul, Turquie</span>
            </div>
            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>Une participation au championnat du monde junior 2000 à Killarney, Irlande</span>
            </div>

            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>Plusieurs participations à des compétition régionales, provinciales, nationales et internationales<Plusieurs participations à des compétition régionales, provinciales, nationales et internationales</span>
            </div>
        </div>
    </div>

</div>

