<link rel="stylesheet" type="text/css" href="css/board.css">
<div class="ctl-board-container">
    <div class="clt-page-title">
        <img src="/img/menu/managment-selected.png" />
        <p class="lead">Comité Administratif (C.A)</p>
    </div>
      <img src="/img/board-member/board-connection.png" class="ctl-board-connection" />
    <div>
        <div class="ctl-board-member ctl-board-president">
            <div class="ctl-board-member-image">
                <img src="/img/board-member/luc-morrisette.png" />
            </div>
            <div class="ctl-board-member-info">
                <div class="ctl-board-member-name">
                    <span>Luc Morissette</span>
                </div>
                <div class="ctl-board-member-title">
                    <span>Président</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="ctl-board-member ctl-board-vice-president">
            <div class="ctl-board-member-image">
                <img src="/img/board-member/benoit-morrissette.png" />
            </div>
            <div class="ctl-board-member-info">
                <div class="ctl-board-member-name">
                    <span>Benoît Morissette</span>
                </div>
                <div class="ctl-board-member-title">
                    <span>Vice-Président</span>
                </div>
            </div>
        </div>
        <div class="ctl-board-member ctl-board-tresory">
            <div class="ctl-board-member-image">
                <img src="/img/board-member/michelle-morrisette.png" />
            </div>
            <div class="ctl-board-member-info">
                <div class="ctl-board-member-name">
                    <span>Michelle Morissette</span>
                </div>
                <div class="ctl-board-member-title">
                    <span>Secrétaire-Trésorière</span>
                </div>
            </div>
        </div>
        <div class="ctl-board-member ctl-board-director">
            <div class="ctl-board-member-image">
                <img src="/img/board-member/gilles-morrisette.png" />
            </div>
            <div class="ctl-board-member-info">
                <div class="ctl-board-member-name">
                    <span>Gilles Morissette</span>
                </div>
                <div class="ctl-board-member-title">
                    <span>Directeur Général</span>
                </div>
            </div>
        </div>
    </div>

</div>

