<link rel="stylesheet" type="text/css" href="css/goals.css">
<div class="ctl-container ctl-goals-container">
    <div class="clt-page-title">
        <img src="/img/menu/goals-selected.png" />
        <p class="lead">Objectifs</p>
    </div>
    <div>
        <span class="ctl-goals-intro">L'objectif du Club Taekwondo Laval est de fournir aux jeunes la possibilité de découvrir et de développer leurs capacités psychique et physique.</span><span class="ctl-text-citation">"Un esprit sain dans un corps sain"</span>
    </div>

    <div class="ctl-goals-section">
        <div class="ctl-goals-type">
            <span class="ctl-goals-title">Développement personnel</span>
            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>Contrôle et confiance en soi</span>
            </div>
            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>Meilleure concentration</span>
            </div>
            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>Meilleure condition physique</span>
            </div>
            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>Respect mutuel</span>
            </div>        
            <div class="ctl-goals-item">
                <img src="/img/goals/checked-box.png" /><span>Découverte d'une nouvelle philosophie</span>
            </div>     
        </div>
        <div class="ctl-goals-type">
            <span class="ctl-goals-title">Enseignement de qualité</span>
            <div class="ctl-goals-info"><span>Grâce à nos instructeurs qualifiés ayant tous complètés un stage du PNCE (programme national de certification des entraîneurs) niveau I et II ainsi qu'un cours de premier soins, les jeunes se sentiront bien encadrés. 
</span><span class="ctl-goals-master">Tous nos instructeurs sont diplomés du grand Maître Chong Lee.</span>
            </div>
        </div>
        <div class="ctl-goals-type">
            <span class="ctl-goals-title">Activités sociales pour tous</span>
        </div>
    </div>

</div>

