
<link rel="stylesheet" type="text/css" href="css/links.css">
<div class="ctl-links-container">
    <div class="clt-page-title">
        <img src="/img/menu/link-selected.png" />
        <p class="lead">Liens</p>
    </div>

    <div>
        <div class="ctl-link-external">
            <div>
                <a href="http://www.taekwondo-quebec.ca/" target="_blank">
                    <img src="/img/links/taekwondo-quebec.png">
                </a>
            </div>
            <div class="ctl-link-info">
                <span>Taekwondo Quebec</span>
            </div>
        </div>
        <div class="ctl-link-external">
            <div>
                <a href="http://www.wtfcanada.com" target="_blank">
                    <img src="/img/links/taekwondo-canada.png">
                </a>
            </div>
            <div class="ctl-link-info">
                <span>Taekwondo Canada</span>
            </div>
        </div>
                <div class="ctl-link-external">
            <div>
                <a href="http://www.wtf.org" target="_blank">
                    <img src="/img/links/taekwondo-wtf.png">
                </a>
            </div>
            <div class="ctl-link-info">
                <span>World Taekwondo Federation WTF</span>
            </div>
        </div>
    </div>
    <div>
    <div class="ctl-link-howto">
        <span>*Cliquez sur l'image pour naviguer directement vers l'organisme.</span>
    </div>
</div>

